@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-Regular.ttf");
}
@font-face {
    font-family: MontserratExtraLight;
    src: url("assets/fonts/Montserrat-ExtraLight.ttf");
}

@font-face {
    font-family: HamilltonTwo;
    src: url("assets/fonts/Hamillton Two.ttf");
}

/* GENERAL SETTINGS */
body,
html {
    overflow-x: hidden;
    width: 100%;
}
body {
    overflow-y: hidden;
    font-weight: 400;
    background-color: #e31e25;
    color: #fff;
    min-height: 300px;
    font-family: 'Roboto Mono', monospace;
    margin: unset;
}
a {
    text-decoration: none;
    outline: none;
}
p {
    margin-block-start: unset;
    margin-block-end: unset;
}
/* GENERAL SETTINGS END HERE */

/* normal navbar */

nav.top {
    position: fixed;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 99;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    -webkit-transition: -webkit-transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: -webkit-transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1), -webkit-transform 420ms cubic-bezier(0.165, 0.84, 0.44, 1);
}
nav.top a {
    font-family: 'Montserrat';
}
/* Fixed Navbar*/

.scrolled nav.top {
    -webkit-transform: translate3d(0, -70px, 0);
    transform: translate3d(0, -70px, 0);
}

.top.fixed > ul {
    margin: 0;
}

nav.top.fixed {
    -webkit-transform: translate3d(0, -80px, 0);
    transform: translate3d(0, -80px, 0);
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.09804) 0 2px 4px;
}

.scrolled nav.top.fixed {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

nav.top.fixed ul a {
    color: #404B55;
}

nav .logo {
    color: #fff;
    float: left;
    font-family: "Lobster", cursive;
    font-size: 25px;
    height: 42px;
    margin: 20px 0 0 20px;
}

.top.fixed > .logo {
    background: #0091de none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    float: left;
    font-family: "Lobster", cursive;
    font-size: 40px;
    height: 52px;
    margin: 10px 0 0 20px;
    padding: 0;
    text-align: center;
    width: 52px;
}

/* menu style */

nav.top ul {
    list-style-type: none;
    margin: 0 20px 0 0;
    padding: 0;
    float: right;
    line-height: 4.375rem;
}

nav.top ul li {
    display: inline-block;
}

nav.top ul li a {
    color: #fff;
    text-decoration: none;
    display: inline-block;
    font-size: 0.9375rem;
    font-weight: 700;
    margin-left: 9px;
    position: relative;
    cursor: pointer;
    line-height: 1em;
    padding: 8px 7px 15px;
    transition: 0.3s all ease-in-out;
}

nav.top ul li a:hover {
    opacity: 1;
    border-bottom: 3px #fff solid;
}
.codeconveyHeader {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    align-items: center;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 300px;
    padding: 4em 1em;
    position: relative;
    text-align: center;
    background: url("assets/images/wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.codeconveyHeader span {
    bottom: 45px;
    position: absolute;
}
.codeconveyHeader span a {
    text-decoration: none;
    padding: 20px 40px;
    border: 1px solid #fff;
    transition: ease 0.5s;
    color: #fff;
    font-family: "MontserratExtraLight";
    font-size: 25px;
}
.codeconveyHeader span a:hover {
    border-color: #000;
    background-color: #000;
    mix-blend-mode: multiply;
}
section.IntroSection {
    background: #fff;
    text-align: center;
    padding: 30px 10px;
}
section.IntroSection h2 {
    font-family: "Montserrat";
    font-size: 50px;
    color: #3a3e44;
    margin-block-start: unset;
    margin-block-end: unset;
    padding-bottom: 20px;
}
section.IntroSection p {
    font-family: "HamilltonTwo";
    font-size: 40px;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #3a3e44;
    margin-block-start: unset;
    margin-block-end: unset;
    max-width: 600px;
    margin: auto;
}
section.IntroSection img {
    max-height: 300px;
}
section.IntroSection-2 {
    background: url("assets/images/wallpaper2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
section.IntroSection-2 p {
    margin: auto;
    font-family: "HamilltonTwo";
    font-size: 40px;
    letter-spacing: 1px;
    padding: 350px 350px 50px;
    text-align: center;
    box-shadow: inset 3px 4px 5px #000;
}
section.IntroSection-3 {
    text-align: center;
    padding: 100px 0;
    background: #fff;
}
section.IntroSection-3 img {
    max-height: 700px;
    padding: 0 10px;
}
footer.footer {
    background-color: #3a3e44;
}

/* STYLES FOR HOVER IMAGE */
img:hover{
    cursor: pointer;
}
/* SEMENTARA BLOM ADA LINK GINIIN DULU :v */
/*GROW*/
.grow img {
  height: 300px;
  width: 300px;

  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}

.grow img:hover {
  width: 400px;
  height: 400px;
}

/*GROW*/
.grow img {
  height: 300px;
  width: 300px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.grow img:hover {
  width: 400px;
  height: 400px;
}

/*SHRINK*/
.shrink img {
  height: 400px;
  width: 400px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.shrink img:hover {
  width: 300px;
  height: 300px;
}

/*SHRINK*/
.shrink img {
  height: 400px;
  width: 400px;
 
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.shrink img:hover {
  width: 300px;
  height: 300px;
}

/*SIDEPAN*/
.sidepan img {
  margin-left: 0px;
  -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
}

.sidepan img:hover {
  margin-left: -200px;
}


/*VERTPAN*/
.vertpan img {
  margin-top: 0px;
  -webkit-transition: margin 1s ease;
     -moz-transition: margin 1s ease;
       -o-transition: margin 1s ease;
      -ms-transition: margin 1s ease;
          transition: margin 1s ease;
}
 
.vertpan img:hover {
  margin-top: -200px;
}

/*TILT*/
.tilt {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.tilt:hover {
  -webkit-transform: rotate(-10deg);
     -moz-transform: rotate(-10deg);
       -o-transform: rotate(-10deg);
      -ms-transform: rotate(-10deg);
          transform: rotate(-10deg);
}



/*MORPH*/
.morph {
  -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
       -o-transition: all 0.5s ease;
      -ms-transition: all 0.5s ease;
          transition: all 0.5s ease;
}
 
.morph:hover {
  border-radius: 50%;
  -webkit-transform: rotate(360deg);
     -moz-transform: rotate(360deg);
       -o-transform: rotate(360deg);
      -ms-transform: rotate(360deg);
          transform: rotate(360deg);
}


/*FOCUS*/
.focus {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.focus:hover {
  border: 70px solid #000;
  border-radius: 50%;
}

  
/*BLUR*/
.blur img {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.blur img:hover {
  -webkit-filter: blur(5px);
}

/*B&W*/
.bw {
  -webkit-transition: all 1s ease;
     -moz-transition: all 1s ease;
       -o-transition: all 1s ease;
      -ms-transition: all 1s ease;
          transition: all 1s ease;
}
 
.bw:hover {
  -webkit-filter: grayscale(100%);
}
/* ENTAR KOE PILIH AJA DHI MAU YANG MANA :V */
/* CUSTOM STYLES IMAGE HOVER ENDS HERE */