/* SIDEBAR */
#sidebar-left {
    background-color: #3a3e44;
    width: 100%;
    height: 100%;
}
#sidebar-left .profile {
    min-height: 250px;
    background-image: url("../images/bg-banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
#sidebar-left .profile {
    text-align: center;
}
#sidebar-left .profile a.logo img {
    max-height: 100px;
}
#sidebar-left .profile-image {
    padding: 25px;
}
#sidebar-left .profile-image .links,
#sidebar-left .profile-image .profile-name {
    padding: 5px;
}
#sidebar-left .profile-image .profile-name {
    font-size: 20px;
    font-family: "MontserratLight";
}
#sidebar-left .profile-image * {
    color: #fff !important;
}
#sidebar-left .profile-image img {
    max-height: 125px;
    border-radius: 50%;
}
#sidebar-left .menu-sidebar .label-menu {
    font-family: "MontserratLight";
    font-size: 18px;
    letter-spacing: 0.7px;
    padding: 15px;
}
#sidebar-left .menu-sidebar ul.menu {
    list-style: none;
}
#sidebar-left .menu-sidebar ul li a {
    display: block;
    margin: 15px 0;
    padding: 10px 25px;
    font-family: "MontserratLight";
    font-size: 15px;
    color: #fff;
    transition: ease-in-out 0.3s;
}
#sidebar-left .menu-sidebar ul.menu li a.current,
#sidebar-left .menu-sidebar ul.menu li a:focus,
#sidebar-left .menu-sidebar ul.menu li a:hover {
    text-decoration: underline;
    border-left: 5px solid #d6b068;
    background: #434546;
    font-weight: 600;
}

@media screen and (max-width:980px) {
    #sidebar-left {
        height: unset;
        padding-bottom: 1em;
    }
    #sidebar-left .menu-sidebar ul li a {
        font-size: 50px;
        text-align: center;
    }
    #sidebar-left .menu-sidebar .label-menu {
        font-size: 60px;
        text-align: center;
    }
    section.container-admin .column.column-container,
    section.container-admin .column_1_3 {
        width: 100% !important;
    }
}