body {
    color: #000;
}

/* STYLING CONTENT DASHBOARD */
#content {
    background-color: #292c30;
    padding: 20px;
    height: 100%;
}
#content .content-dashboard-container,
#content .label-dashboard {
    background-color: #3a3e44;
    border-radius: 2px;
    padding: 10px;
    font-family: "MontserratSemiBold";
    font-size: 17px;
    width: 100%;
}
#content .content-dashboard {
    padding-top: 20px;
    display: flex;
}

/* STYLING DATATABLE */
#content .dataTables_wrapper {
    padding: 30px 0;
}
#content .dataTables_wrapper #myTable_paginate > a.paginate_button {
    color: #fff !important;
}
#content .dataTables_wrapper .dataTables_filter label,
#content .dataTables_wrapper .dataTables_info,
#content .dataTables_wrapper .dataTables_length label {
    color: #fff;
    font-family: MontserratSemiBold;
    font-size: 16px;
}
.dataTables_wrapper .dataTables_filter input {
    border-radius: 5px;
    transition: ease-in-out 0.3s;
    padding: 2px;
}
#content .dataTables_wrapper table {
    padding: 20px 0;
    border-collapse: separate;
    border-spacing: 0.7em;
}
#content .dataTables_wrapper tbody:before {
    line-height: 1em;
    content: "_";
    color: transparent;
    display: block;
}
#content .dataTables_wrapper table thead tr {
    padding-bottom: 20px !important;
}
#content .dataTables_wrapper table th {
    position: relative;
}
#content .dataTables_wrapper table th:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    width: 75%;
    border-bottom: 2px solid #ffa936;
}
table.dataTable thead td,
table.dataTable thead th,
table.dataTable tr td {
    border: unset !important;
    padding: 8px 10px !important;
}
#content .dataTables_wrapper .dataTables_length select {
    height: calc(1.5em + .75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}
#content .dataTables_wrapper table th {
    font-family: Source Sans Pro;
    text-align: left;
    color: #ffa936 !important;
    font-size: 20px;
}
#content .dataTables_wrapper table td {
    font-family: MontserratMedium;
}
#content .dataTables_wrapper table.dataTable tbody {
    color: #b7b8b9 !important;
}
#content .dataTables_wrapper table.dataTable tbody tr {
    background-color: transparent;
}
#content .dataTables_wrapper table tbody tr:hover {
    color: #ffa936 !important;
}

/* STYLING BUAT INPUT NYA */

#content form .form-group {
    padding: 10px;
}
#content form .form-group label {
    display: block;
    padding-bottom: 5px;
}
#content form .form-group input[type=text],
#content form .form-group textarea {
    display: block;
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    font-size: 17px;
    font-family: Montseratt;
    color: #131a26;
    transition: ease-in-out 0.3s;
}
#content form .form-group input:focus,
#content form .form-group textarea:focus {
    border-color: #80bdff;
}
#content form .form-group input[type=submit] {
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    background: #3a3e44;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 700 !important;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
#content form .form-group input[type=submit]:focus,
#content form .form-group input[type=submit]:hover {
    background: #2c2f33;
}

/* BUTTON DI LINKS */
#content .form-links a {
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 17px;
    font-weight: 700;
    color: #fff;
    border: 1px solid #fff;
}
#content .form-links a.add {
    background: #292c30;
}
#content .form-links a.add:hover {
    background: #2a2c2d;
}
#content table.dataTable .form-links a {
    margin-right: 5px;
}
#content .form-links a.update {
    background: #ffc107;
    border: unset;
}
#content .form-links a.update:hover {
    background: #e0a800;
}
#content .form-links a.delete {
    background: #dc3545;
    border: unset;
}
#content .form-links a.delete:hover {
    background: #c82333;
}

/* SWEETALERT CSS */
.swal2-styled.swal2-confirm {
    background-color: #1153ad;
    font-family: Montserrat;
    font-size: 1.3625em;
}
.swal2-title {
    font-family: MontserratSemiBold;
}
.swal2-content {
    font-family: MontserratLight;
}
