section.GallerySection {
    background: #fff;
    text-align: center;
}

section.GallerySection .row-1 .column h2 {
    font-family: "Montserrat";
    font-size: 30px;
    padding: 30px 0 25px;
    color: #d6b068;
}

section.GallerySection .row-1 .column p {
    font-family: "HamilltonTwo";
    font-size: 30px;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #000;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}

section.GallerySection-2 {
    background: #f3f4f4;
    text-align: center;
    position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.GallerySection-2 .row-1 {
    background: #fff;
    width: 900px;
    margin: 0 auto;
    height: auto;
    padding: 20px 20px 0;
}

section.GallerySection-2 .row-1 .column {
    padding: 20px;
    text-align: center;
}

section.GallerySection-2 .row-1 .column h3 {
    letter-spacing: 2px;
    font-family: "Montserrat";
    text-align: center;
    color: #d6b068;
}
section.GallerySection-2 .row-1 .column p {
    letter-spacing: 2px;
    font-family: "Montserrat";
    text-align: center;
    color: #000;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0 0;
}
section.GallerySection-2 .row-1 .column p.read a {
    letter-spacing: 2px;
    font-family: "Montserrat";
    text-align: center;
    font-size: 12px;
    padding: 20px 0 0;
    color: #d6b068;
}
section.GallerySection-2 .row-1 a .image img {
    /* background-image: url("../../assets/images/Gallery-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    max-height: 300px;
    height: 100%;
}
section.GallerySection-2 .row-2 {
    background: #fff;
    width: 900px;
    margin: 0 auto;
    height: auto;
    padding: 20px 20px 0;
}

section.GallerySection-2 .row-2 .column {
    padding: 20px;
    text-align: center;
}

section.GallerySection-2 .row-2 .column h3 {
    letter-spacing: 2px;
    font-family: "Montserrat";
    text-align: center;
    color: #d6b068;
}
section.GallerySection-2 .row-2 .column p {
    letter-spacing: 2px;
    font-family: "Montserrat";
    text-align: center;
    color: #000;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0 0;
}
section.GallerySection-2 .row-2 .column p.read a {
    letter-spacing: 2px;
    font-family: "Montserrat";
    text-align: center;
    font-size: 12px;
    padding: 20px 0 0;
    font-weight: 700;
    color: #d6b068;
    text-decoration: underline;
    transition: ease-in-out .3s;
}

section.GallerySection-2 .row-2 a .image img{
    /* background-image: url("../../assets/images/Gallery-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center; */
    width: 100%;
    max-height: 300px;
    height: 100%;
}
section.GallerySection-2 .row-1:hover p.read a,
section.GallerySection-2 .row-2:hover p.read a {
    color: #b38957;
    text-decoration: none !important;
}
@media screen and (max-width:980px) {
    section.GallerySection .row-1 .column p {
        font-size: 28px;
        line-height: 1.25em;
    }
    section.GallerySection-2 .row-1,
    section.GallerySection-2 .row-2 {
        width: 100%;
        padding: 10px 10px 0;
    }
}

@media screen and (max-width:460px){
    section.GallerySection .row-1 .column p{
        font-size: 25px;
        max-width: 400px;
    }
}
