section.GallerySection{
    background: #fff;
    text-align: center;  
}

section.GallerySection .row-1 .column h2{
    font-family:"Montserrat";
    font-size: 30px;
    padding : 30px 0 25px 0;
    color: #d6b068;
}

section.GallerySection .row-1 .column p{
    font-family:"HamilltonTwo";
    font-size: 30px;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #000;
    max-width: 1000px;
    margin: auto;
    padding-bottom: 20px;
}

section.GallerySection-2{
    background: #f3f4f4;
    text-align: center;
    position: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

section.GallerySection-2 .row-1 {
    background: #fff;
    width: 900px;
    margin : 0 auto 20px;
    height : auto;
    padding : 20px 20px 0px 20px;
}

section.GallerySection-2 .row-1 .column{
    padding : 20px;
    text-align: center;
}

section.GallerySection-2 .row-1 .column h3{
    letter-spacing: 2px; 
    font-family:"Montserrat";
    text-align: center;
    color: #d6b068;
}
section.GallerySection-2 .row-1 .column p{
    letter-spacing: 2px; 
    font-family:"Montserrat";
    text-align: center;
    color: #000;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0 0 0;
}
section.GallerySection-2 .row-1 .column p.read a{
    letter-spacing: 2px;
    font-family:"Montserrat";
    text-align: center;
    font-size: 12px;
    padding: 20px 0 0 0;
    color: #d6b068;
}

section.GallerySection-2 .row-1 a .column.image {
    background-image: url("../../assets/images/Gallery-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height : 300px;
    height : 100%;  
}
section.GallerySection-2 .row-2 {
    background: #fff;
    width: 900px;
    margin : 0 auto;
    height : auto;
    padding : 20px 20px 0px 20px;
}

section.GallerySection-2 .row-2 .column{
    padding : 20px;
    text-align: center;
}

section.GallerySection-2 .row-2 .column h3{
    letter-spacing: 2px; 
    font-family:"Montserrat";
    text-align: center;
    color: #d6b068;
}
section.GallerySection-2 .row-2 .column p{
    letter-spacing: 2px; 
    font-family:"Montserrat";
    text-align: center;
    color: #000;
    font-size: 12px;
    line-height: 15px;
    padding: 20px 0 0 0;
}
section.GallerySection-2 .row-2 .column p.read a{
    letter-spacing: 2px;
    font-family:"Montserrat";
    text-align: center;
    font-size: 12px;
    padding: 20px 0 0 0;
    color: #d6b068;
}

section.GallerySection-2 .row-2 a .column.image {
    background-image: url("../../assets/images/Gallery-2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    max-height : 300px;
    height : 100%;   
}