
/* HOME SECTION STYLING */
section.IntroSection {
    background: #fff;
    text-align: center;
}
section.IntroSection .row .column {
    padding: 30px 10px;
}
section.IntroSection .row .column h2 {
    font-family: "Montserrat";
    font-size: 50px;
    color: #3a3e44;
    margin-block-start: unset;
    margin-block-end: unset;
    padding-bottom: 20px;
}
section.IntroSection .row .column p {
    font-family: "HamilltonTwo";
    font-size: 40px;
    line-height: 1.3em;
    letter-spacing: 1px;
    color: #3a3e44;
    margin-block-start: unset;
    margin-block-end: unset;
    max-width: 600px;
    margin: auto;
}
section.IntroSection .row .column img {
    max-height: 300px;
}
section.IntroSection-2 {
    background: url("../images/bg-quote-1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}
section.IntroSection-2 .row .column {
    padding: 350px 0 50px;
}
section.IntroSection-2 p {
    margin: 0 auto;
    font-family: "HamilltonTwo";
    font-size: 40px;
    letter-spacing: 1px;
    text-align: center;
}

section.IntroSection-3 {
    text-align: center;
    background: #fff;
}
section.IntroSection-3 .row .column {
    padding: 100px 0;
}
section.IntroSection-3 .row .column img {
    max-height: 700px;
    padding: 0 10px;
}
footer.footer {
    background-color: #3a3e44;
}
/* HOME SECTION STYLING ENDS HERE */

@media screen and (min-width:980px) {
    section.IntroSection-2 {
        box-shadow: inset 0 0 20px 0 #000;
    }
}
@media screen and (max-width:980px) {
    nav.not-fixed {
        display: none;
    }
    nav.fixed ul li a {
        font-size: 15px;
        padding: 10px;
    }
    section.IntroSection .row .column p {
        font-size: 27px;
        padding-bottom: 5px;
    }
    section.IntroSection .row .column img {
        width: 100%;
        height: auto !important;
        max-height: unset !important;
        padding: 5px;
    }
    nav.top.fixed ul {
        margin-top:5px;
    }
}
